.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  max-width: 500px;
  padding: 15px 25px;
  border: 1px solid lightgray;
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  z-index: 100;
  animation-name: animatetop;
  animation-duration: 0.5s;
}